@import "breakpoints";

.Footer {
  &--fixed {
    position: fixed;
    bottom: 2rem;
    right: 4rem;
    z-index: 1000;

    @media (max-width: $lg) {
      margin-bottom: 1.5rem;
      position: static;
    }

    @media (max-width: $sm) {
      margin-bottom: 1.75rem;
      position: static;
    }
  }

  &__items {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    & > a {
      $size: 2rem;

      width: $size;
      height: $size;
      transition: .2s transform ease-in-out;
      position: relative;
      display: block;

      &:hover {
        transform: scale3d(.9, .9, .9);
      }
    }
  }
}
