.SkillBox {
  position: relative;
  width: 74px;
  height: 74px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(white, .5);
  backdrop-filter: blur(30px);

  &__img {
    $size: 48px;

    width: $size;
    height: $size;
  }
}
