@import "breakpoints";
@import "variables";

.Header {
  position: absolute;
  right: 4rem;
  top: 1rem;
  z-index: 1000;

  @media (max-width: $lg) {
    right: 3rem;
    top: 2rem;
  }

  @media (max-width: $sm) {
    background-color: $primaryColor;
    box-shadow: 0 0 10px 0 $primaryColor;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  &__content {
    align-items: center;
    background-color: $primaryColor;
    display: none;
    justify-content: space-between;
    padding: .5rem 1rem;
    position: relative;
    z-index: 1;

    @media (max-width: $sm) {
      display: flex;
    }

    &__logo {
      height: 21px;
      position: relative;
      width: 51px;
    }
    &__toggle {
      $size: 2rem;

      background-color: transparent;
      border: 0;
      border-radius: 4px;
      color: white;
      position: relative;
      width: $size;
      height: $size;
    }
  }
  &__nav {
    @media (max-width: $sm) {
      margin-top: -1000px;
      transition: margin-top ease-in-out .4s;

      &--active {
        margin-top: 0;
        border-top: 1px solid rgba(white, .2);
      }
    }

    &__items {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 2rem;
      margin: 0;
      padding: 0;

      @media (max-width: $sm) {
        flex-flow: column wrap;
        align-items: flex-start;
        gap: 0;
      }

      &__item {
        $item: &;

        color: rgba(white, .6);
        font-size: 22.08px;
        transition: color ease-in-out .2s;

        @media (max-width: $sm) {
          font-size: 1.25rem;
          padding: .4rem .75rem;
        }

        &--active {
          color: $primaryColor;

          @media (max-width: $sm) {
            color: white;
          }
        }
        &:hover {
          &:not(#{ $item }--active) {
            color: white;
          }
        }
        & > a {
          color: inherit;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
  }
}
