@import "../../../styles/variables";

.Header {
  position: absolute;
  right: 4rem;
  top: 1rem;
  z-index: 1000;

  &__nav {
    &__items {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 2rem;
      margin: 0;
      padding: 0;

      &__item {
        font-size: 22.08px;
        color: white;

        &--active {
          color: $primaryColor;
          
        }
        & > a {
          text-decoration: none;
          color: inherit;
          font-weight: 600;
        }
      }
    }
  }
}
