@import "variables";

.Header {
  position: absolute;
  right: 4rem;
  top: 1rem;
  z-index: 1000;

  &__nav {
    &__items {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 2rem;
      margin: 0;
      padding: 0;

      &__item {
        $item: &;

        color: rgba(white, .6);
        font-size: 22.08px;
        transition: color ease-in-out .2s;

        &--active {
          color: $primaryColor;
        }
        &:hover {
          &:not(#{ $item }--active) {
            color: white;
          }
        }
        & > a {
          color: inherit;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
  }
}
