@import "breakpoints";

.container {
  display: flex;
  align-items: space-between;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;

  @media (max-width: $sm) {
    margin-bottom: calc(50px + 1.75rem);
  }

  &__left, &__right {
    padding-top: 6rem;
    width: calc(50% - 5rem);

    @media (max-width: $xxl) {
      width: calc(50% - 3rem);
    }

    @media (max-width: $lg) {
      width: 100%;
    }
  }
  &__left {
    padding-left: 6rem;

    @media (max-width: $xxl) {
      padding-left: 4rem;
    }

    @media (max-width: $lg) {
      padding: 0 4rem;
      padding-top: 7.25rem;
    }

    @media (max-width: $md) {
      padding: 0 2rem;
      padding-top: 7.25rem;
    }

    @media (max-width: $sm) {
      padding: 0;
      padding-top: 1.75rem;
    }
  }
  &__right {
    padding-right: 9rem;

    @media (max-width: $xxl) {
      padding-right: 4rem;
    }

    @media (max-width: $lg) {
      padding: 0 4rem;
    }

    @media (max-width: $md) {
      padding: 0 2rem;
    }

    @media (max-width: $sm) {
      padding: 0 1rem;
    }

    &__title {
      font-weight: 500;
      margin: 2.25rem 0;
      text-align: center;

      &:nth-child(1) {
        margin-top: 3rem;
      }
    }
  }
  &__waves {
    height: 229px;
    overflow: hidden;
    position: relative;
    width: 100%;

    @media (max-width: $lg) {
      height: 150px;
    }

    @media (max-width: $sm) {
      display: none;
    }

    &__wave {
      $animationTime: 20s;

      animation: wave $animationTime cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      background: {
        image: url('/images/waves.svg');
        repeat: repeat-x;
      };
      bottom: -8.5rem;
      height: 198px;
      position: absolute;
      transform: translate3d(0, 0, 0);
      width: 6400px;

      @media (max-width: $lg) {
        bottom: -6.5rem;
      }

      &--secondary {
        animation:
          wave $animationTime cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite,
          swell 10s ease -1.25s infinite;
        background-image: url('/images/waves2.svg');
        bottom: -8rem;

        @media (max-width: $lg) {
          bottom: -6rem;
        }
      }
    }
  }
}

// Animations
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -1.75rem, 0);
  }
  50% {
    transform: translate3d(0, .25rem, 0);
  }
}
