// Mobile: @media (max-width: $sm)
// Tablet: @media (min-width: $sm)
$sm: 640px;

$md: 768px;

// Tablet: @media (max-width: $lg)
// Laptop: @media (min-width: $lg)
$lg: 1024px;

// Laptop: @media (max-width: $xl)
// Desktop: @media (min-width: $xl)
$xl: 1280px;

// Desktop: @media (max-width: $xxl)
$xxl: 1536px;
